/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(238, 238, 238);
}

.mainContent {
  height: 100vh;
  overflow-y: scroll;
}

.completed {
  background-color: rgb(136, 243, 136);
}

.standard {
  background-color: white;
}

.lead {
  font-size: 0.8rem;
}
